.Display{
    background-color: rgb(168, 245, 228);
    height: 500px;
    width: 800px;
    margin-top: 20px;
    margin-right: 20%;
    margin-left: 2.23%;
    margin-bottom: .5vw;
    border: 9px dotted teal;
    border-radius: 2%;
    overflow: auto;
    padding: 2em;
  }