.Header{

    color: rgb(29, 161, 139);
    height: 8em;
    line-height: 4em;
    padding: 0 2em;
    font-family: 'Fantsay', serif;
    margin-bottom: 2rem;
  
   
    h1{
      -webkit-text-stroke: 2px black;

      font-size: 4em;
      font-weight: 500;
    }
  }

  